﻿<div class="row">
    <div class="col">
        <center><h2 id="header">Google Maps Location</h2></center>
    </div>

</div>
<hr />
<div id="header">
    <div class="row">
        <div class="col">
            <center>
                <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2935.2853335662007!2d23.33171781577095!3d42.63411062574251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8407617674df%3A0x163841ec7e6cd37b!2sOkolovrasten%20Pat!5e0!3m2!1sen!2sbg!4v1622561366436!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
            </center>
        </div>
    </div>
    <div class="row" id="header">
        <div class="col">
            <center><h2 id="header">How to Register</h2></center>
        </div>
    </div>
    <div class="row" id="header">
        <div class="col">
            <div id="borderDemo"><p><center><h5>If you want to register at Car Doctors,you need to visit our service (see location on the map) there our amazing employees will create a new account for you!</h5></center></p></div>
            <hr />
        </div>
    </div>
    <div class="row" id="header">
        <div class="col">
            <center><h3 id="header">Auto repair shop location :</h3></center>
        </div>
    </div>
    <hr />
    <div id="borderDemo">
        <div class="row">
            <div class="col">
                <h5>Company name :</h5>
            </div>
            <div class="col">
                <h6>Car Doctors</h6>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h5>Street :</h5>
            </div>
            <div class="col">
                <h6>ul "Okolovrasten pat"</h6>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h5>City :</h5>
            </div>
            <div class="col">
                <h6>Sofia</h6>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h5>Country :</h5>
            </div>
            <div class="col">
                <h6>Bulgaria</h6>
            </div>
        </div>
    </div>

</div>