﻿@model IEnumerable<VehicleViewModel>

<a onclick="showInPopup('@Url.Action("Create","Vehicle",new { Area = "Admin"},Context.Request.Scheme)','New Vehicle')" class="btn" style="background-color: #268426; color: #f7f3e9;"><i class="fas fa-plus"></i> New Vehicle</a>

<hr />

<div class="container">
    <div class="row">
        @foreach (var vehicle in Model)
        {
            <div class="col-sm-4">
                <div class="card" id="card" style="width: 18rem;">
                    <img src=@vehicle.Picture id="img-card" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">

                        <h5 class="card-title">@vehicle.VIN</h5>
                        <h5 class="card-title">@vehicle.Manufacturer</h5>
                        <h5 class="card-title">@vehicle.Model</h5>
                        <h5 class="card-title">@vehicle.RegistrationPlate</h5>

                        <a onclick="showInPopup('@Url.Action("Details","Vehicle", new { Area = "Admin", id=vehicle.ID},Context.Request.Scheme)','Vehicle Details')" class="btn" style="background-color: #00778A; color: #f7f3e9;"><i class="fas fa-info"></i> Details</a>
                        <a onclick="showInPopup('@Url.Action("Update","Vehicle", new { Area = "Admin", id=vehicle.ID},Context.Request.Scheme)','Update Vehicle')" class="btn" style="background-color: #00778A; color: #f7f3e9;"><i class="fas fa-pencil-alt"></i> Update</a>
                        <br />
                        <br />
                        <form asp-action="Delete" asp-controller="Vehicle" asp-area="Admin" asp-route-id="@vehicle.ID" onsubmit="return jQueryAjaxDelete(this);">
                            <input type="submit" value="Delete" class="btn" style="background-color: #f05945; color: #f7f3e9;" />
                        </form>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
