﻿@model VehicleViewInputModel

@{ Layout = null; }

<div>
    <form asp-area="Admin" asp-controller="Vehicle" asp-action="Create" onsubmit="return jQueryAjaxPost(this);">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <h5><label class="control-label">Type</label></h5>
                    <select asp-for="VehicleTypeID" class="form-control" asp-items="ViewBag.VehicleTypeID"></select>
                    <span asp-validation-for="VehicleTypeID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h5><label class="control-label">Manufacturer</label></h5>
                    <input asp-for="@Model.Manufacturer" class="form-control" />
                    <span asp-validation-for="Manufacturer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h5><label class="control-label">Model</label></h5>
                    <input asp-for="@Model.Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h5><label class="control-label">VIN</label></h5>
                    <input asp-for="@Model.VIN" class="form-control" />
                    <span asp-validation-for="VIN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h5><label class="control-label">Owner</label></h5>
                    <select asp-for="OwnerID" class="form-control" asp-items="ViewBag.OwnerID"></select>
                    <span asp-validation-for="OwnerID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h5><label class="control-label">Registration Plate</label></h5>
                    <input asp-for="@Model.RegistrationPlate" class="form-control" />
                    <span asp-validation-for="RegistrationPlate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="col-md-6 offset-md-3">
                        <center><input type="submit" value="Submit" class="btn" style="background-color: #3E5279; color: #f7f3e9;" /></center>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

