﻿@model PaginatedListGetModel<VehicleViewModel>

<center><h1 style="color: #3E5279;">List of All Vehicles</h1></center>

@{ ViewData["Title"] = "Index"; }

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model.Elements)
</div>

<br />

@{
    var prevDisabled = !Model.Previous ? "disabled" : "";
    var nextDisabled = !Model.Next ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.CurrentPage - 1)"
   asp-route-pageSize="@(Model.PageSize)"
   asp-route-SortBy="@(Model.SortBy)"
   asp-route-OwnerID="@(Model.OwnerID)"
   asp-route-SortInDescendingOrder="@(Model.SortInDescendingOrder)"
    class="btn  @prevDisabled"style="background-color: #3E5279; color: #f7f3e9;">Previous</a>

<a asp-action="Index"
   asp-route-pageNumber="@(Model.CurrentPage + 1)"
   asp-route-pageSize="@(Model.PageSize)"
   asp-route-SortBy="@(Model.SortBy)"
   asp-route-OwnerID="@(Model.OwnerID)"
   asp-route-SortInDescendingOrder="@(Model.SortInDescendingOrder)"
   class="btn @nextDisabled" style="background-color: #3E5279; color: #f7f3e9;">Next</a>

<hr />


<div>
    <div asp-validation-summary="All" class="text text-danger"></div>
    <form asp-action="Index" style="color: #3E5279;
">
        <div class="row">
            <div class="col">
                <h3>Paging Options</h3>
            </div>
            <div class="col">
                <h3>Filter Options</h3>
            </div>
        </div>

        <hr />

        <div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <h5><label class="control-label">Page Index</label></h5>
                        <input asp-for="CurrentPage" class="form-control" />
                        <span asp-validation-for="CurrentPage" class="text text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <h5><label class="control-label">Owner ID</label></h5>
                        <input asp-for="OwnerID" class="form-control" />
                        <span asp-validation-for="OwnerID" class="text text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <h5>
                            <label class="control-label">Page Size</label>
                        </h5>
                        <input asp-for="PageSize" class="form-control" />
                        <span asp-validation-for="PageSize" class="text text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <h5>
                            <label class="control-label">Sort By</label>
                        </h5>
                        <input asp-for="SortBy" class="form-control" />
                        <span asp-validation-for="SortBy" class="text text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Sort in descending order</h5>
                    <div class="form-group">
                        <select asp-for="SortInDescendingOrder" asp-items="ViewBag.Sort" class="form-control"></select>
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <input type="submit" value="View" class="btn" style="background-color: #3E5279; color: #f7f3e9;" />
            </div>

        </div>
    </form>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
