﻿@model VehicleInputModel


@{ Layout = null; }

<div class="col-md-4">
    <form asp-action="Update" asp-route-id="@Model.VehicleID" onsubmit="return jQueryAjaxPost(this);" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <h5><label class="control-label">Vehicle Type</label></h5>
            <select asp-for="@Model.Type" class="form-control" asp-items="ViewBag.VehicleTypeID"></select>
        </div>
        <div class="form-group">
            <h5><label class="control-label">Manufacturer</label></h5>
            <input asp-for="@Model.Manufacturer" class="form-control" />
            <span asp-validation-for="@Model.Manufacturer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <h5><label class="control-label">Model</label></h5>
            <input asp-for="@Model.Model" class="form-control" />
            <span asp-validation-for="@Model.Model" class="text-danger"></span>
        </div>
        <div class="form-group">
            <h5><label class="control-label">VIN</label></h5>
            <input asp-for="@Model.VIN" class="form-control" />
            <span asp-validation-for="@Model.VIN" class="text-danger"></span>
        </div>
        <div class="form-group">
            <h5><label class="control-label">Registration Plate</label></h5>
            <input asp-for="@Model.RegistrationPlate" class="form-control" />
            <span asp-validation-for="@Model.RegistrationPlate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <h5><label class="control-label">Owner First Name</label></h5>
            <input asp-for="@Model.OwnerFirstName" class="form-control" />
            <span asp-validation-for="@Model.OwnerFirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <h5><label class="control-label">Owner Last Name</label></h5>
            <input asp-for="@Model.OwnerLastName" class="form-control" />
            <span asp-validation-for="@Model.OwnerLastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Update" class="btn" style="background-color: #3E5279; color: #f7f3e9;" />
        </div>
    </form>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>