﻿@model List<VehicleViewModel>
<hr />
<div class="container">
    <div class="row">
        <div class="card-deck">
            @foreach (var vehicle in Model)
            {
                <div class="col-sm-4">
                    <div class="card" id="card" style="width: 18rem; ">
                        <img src=@vehicle.Picture class="card-img-top" alt="...">
                        <div class="card-body" id="cardBody">

                            <h5 class="card-title">@vehicle.VIN</h5>
                            <h5 class="card-title">@vehicle.Manufacturer</h5>
                            <h5 class="card-title">@vehicle.Model</h5>
                            <h5 class="card-title">@vehicle.RegistrationPlate</h5>

                            <a onclick="showInPopup('@Url.Action("Details","Vehicle", new { Area = "Admin", id=vehicle.ID},Context.Request.Scheme)','Vehicle Details')" class="btn" style="background-color: #00778A; color: #f7f3e9;"><i class="fas fa-info"></i> Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

