﻿@model VehicleDTO

@{ Layout = null; }


<div class="card-body" id="cardBody">
    <img src=@Model.Picture class="card-img-top" alt="...">
    <h5 class="card-title">Model id - @Model.ID</h5>
    <h5 class="card-title">Vehicle type - @Model.VehicleType</h5>
    <h5 class="card-title">VIN - @Model.VIN</h5>
    <h5 class="card-title">Manufacturer - @Model.Manufacturer</h5>
    <h5 class="card-title">Model - @Model.Model</h5>
    <h5 class="card-title">Owner - @Model.Owner</h5>
    <h5 class="card-title">Registration plate - @Model.RegistrationPlate</h5>
</div>

