﻿@model PaginatedListGetModel<VehicleViewModel>
@using Microsoft.AspNetCore.Http;


<center><h1 id="header"> List of All Vehicles</h1></center>

@{ ViewData["Title"] = "Index"; }

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model.Elements)
</div>

<br />

@{
    var prevDisabled = !Model.Previous ? "disabled" : "";
    var nextDisabled = !Model.Next ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.CurrentPage - 1)"
   asp-route-pageSize="@(Model.PageSize)"
   asp-route-Email="@(Context.Session.GetString("Username"))"
   asp-route-SortBy="@(Model.SortBy)"
   asp-route-SortInDescendingOrder="@(Model.SortInDescendingOrder)"
   class="btn  @prevDisabled" id="buttonsPage">Previous</a>

<a asp-action="Index"
   asp-route-pageNumber="@(Model.CurrentPage + 1)"
   asp-route-pageSize="@(Model.PageSize)"
   asp-route-SortInDescendingOrder="@(Model.SortInDescendingOrder)"
   asp-route-SortBy="@(Model.SortBy)"
   asp-route-Email="@(Context.Session.GetString("Username"))"
   class="btn @nextDisabled" id="buttonsPage">Next</a>

<hr />


<div>
    <div asp-validation-summary="All" class="text text-danger"></div>
    <form asp-action="Index" asp-route-Email="@(Context.Session.GetString("Username"))" style="color: #3E5279;">
        <div class="row">
            <div class="col">
                <h3>Paging Options</h3>
            </div>
        </div>

        <hr />

        <div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <h5><label class="control-label">Page Index</label></h5>
                        <input asp-for="CurrentPage" class="form-control" />
                        <span asp-validation-for="CurrentPage" class="text text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <h5>
                            <label class="control-label">Page Size</label>
                        </h5>
                        <input asp-for="PageSize" class="form-control" />
                        <span asp-validation-for="PageSize" class="text text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <h5>
                            <label class="control-label">Sort By</label>
                        </h5>
                        <input asp-for="SortBy" class="form-control" />
                        <span asp-validation-for="SortBy" class="text text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Sort in descending order</h5>
                    <div class="form-group">
                        <select asp-for="SortInDescendingOrder" asp-items="ViewBag.Sort" class="form-control"></select>
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <input type="submit" value="View" class="btn" id="buttonsPage" />
            </div>
        </div>
    </form>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
