﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="img-container">
    <img class="img-fluid rounded" src="/assets/front-page-img.jpg" alt="garage-photo">
    <div class="centered">
        <h1 id="welcomeText">Welcome To Car Doctors</h1>
        <a type="button" class="btn" id="whoAreWe" asp-area="Customer" asp-controller="Home" asp-action="AboutUs">Who are we?</a>
    </div>
    
</div>

