﻿@model PaginatedListGetModel<ServiceViewModel>


<center><h1 id="header">List of Services</h1></center>

<div class="container">
    <div class="row">
            @foreach (var service in Model.Elements)
            {
                <div class="col-sm-4">
                    <div class="card" id="card" style="width: 18rem;">
                        <img src="/assets/fix.png" id="img-card" class="card-img-top" alt="...">
                        <div class="card-body" id="cardBody">
                            <h5 class="card-title">@service.ServiceName</h5>
                            <h5 class="card-title">@service.Price</h5>
                            <h5 class="card-title">@service.Currency</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

<br>

@{
    var prevDisabled = !Model.Previous ? "disabled" : "";
    var nextDisabled = !Model.Next ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.CurrentPage - 1)"
   asp-route-pageSize="@(Model.PageSize)"
   asp-route-PriceFrom="@(Model.PriceFrom)"
   asp-route-PriceTo="@(Model.PriceTo)"
   asp-route-PriceIs="@(Model.PriceIs)"
   asp-route-Name="@(Model.Name)"
   asp-route-Currency="@(Model.Currency)"
   asp-route-Price="@(Model.Price)"
   asp-route-SortBy="@(Model.SortBy)"
   asp-route-SortInDescendingOrder="@(Model.SortInDescendingOrder)"
   class="btn  @prevDisabled" id="buttonsPage">Previous</a>

<a asp-action="Index"
   asp-route-pageNumber="@(Model.CurrentPage + 1)"
   asp-route-pageSize="@(Model.PageSize)"
   asp-route-PriceFrom="@(Model.PriceFrom)"
   asp-route-PriceTo="@(Model.PriceTo)"
   asp-route-PriceIs="@(Model.PriceIs)"
   asp-route-Name="@(Model.Name)"
   asp-route-Currency="@(Model.Currency)"
   asp-route-Price="@(Model.Price)"
   asp-route-SortBy="@(Model.SortBy)"
   asp-route-SortInDescendingOrder="@(Model.SortInDescendingOrder)"
   class="btn @nextDisabled" id="buttonsPage">Next</a>

<hr />

<div>
    <div asp-validation-summary="All" class="text text-danger"></div>
    <form asp-action="Index" id="paging">
        <div class="row">
            <div class="col">
                <h3>Paging Options</h3>
            </div>
            <div class="col">
                <h3>Filter Options</h3>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <h5><label class="control-label">Page Index</label></h5>
                    <input asp-for="CurrentPage" class="form-control" />
                    <span asp-validation-for="CurrentPage" class="text text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <h5><label class="control-label">Service Name</label></h5>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Page Size</label>
                    </h5>
                    <input asp-for="PageSize" class="form-control" />
                    <span asp-validation-for="PageSize" class="text text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Service Price Is:</label>
                    </h5>
                    <input asp-for="PriceIs" class="form-control" />
                    <span asp-validation-for="PriceIs" class="text text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Sort By</label>
                    </h5>
                    <input asp-for="SortBy" class="form-control" />
                    <span asp-validation-for="SortBy" class="text text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Service Price From:</label>
                    </h5>
                    <input asp-for="PriceFrom" class="form-control" />
                    <span asp-validation-for="PriceFrom" class="text text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Sort in descending order</h5>
                <div class="form-group">
                    <select asp-for="SortInDescendingOrder" asp-items="ViewBag.Sort" class="form-control"></select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Price To:</label>
                    </h5>
                    <input asp-for="PriceTo" class="form-control" />
                    <span asp-validation-for="PriceTo" class="text text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">

            </div>

            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Currency</label>
                    </h5>
                    <input asp-for="Currency" class="form-control" />
                    <span asp-validation-for="Currency" class="text text-danger"></span>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="submit" value="View" class="btn" id="buttonsPage" />
                </div>
            </div>
        </div>
    </form>
</div>
<br />

<br />

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}