﻿.img-container {
    text-align: center;
}

#welcomeText {
    font-size: 50px;
    text-decoration: overline;
    
}

#whoAreWe {
    background-color: transparent;
    color: #0a1931;
    font-size: 25px;
}

    #whoAreWe:hover {
        background-color: #0a1931;
        color: #ffc947;
        font-size: 25px;
    }

.centered {
    position: relative;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0a1931;
    background-color: #FFFFFF;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

img {
    width: 100%;
    height: 100%;
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/*.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/


/*.navbar-toggler-icon {
    color: black;
}*/
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


#borderDemo {
    border: 3px outset rgba(221,221,221,0.19);
    border-radius: 15px;
    color: #0a1931;
}

.offcanvas-header {
    display: none;
}

@media (max-width: 992px) {
    .offcanvas-header {
        display: block;
    }



    .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        z-index: 9;
        width: 30%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: white;
        transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
    }

        .navbar-collapse.show {
            visibility: visible;
            transform: translateX(-100%);
        }
}

#main_nav{
    font-size: 20px;
    font-weight: bold;
}

#partial-nav {
    font-size: 20px;
    font-weight: bold;
}

#brand {
    font-size: 30px;
    font-weight: bold;
    color: #ffc947;
    background-color: transparent;
}

#card {
    background-color: #0a1931;
    height: auto;  
    margin-bottom: 3rem;
}

#img-card {
    max-height: 18rem;
}

#cardBody {
    color: #ffc947;
}

#header {
    color: #0a1931;
}

#buttonsPage {
    background-color: #0a1931;
    color: #ffc947;
}

#paging {
    color: #0a1931;
}

.navbar-custom {
    background-color: #0a1931;
}

    .navbar-custom .navbar-brand,
    .navbar-custom .nav-item .nav-link {
        color: #ffc947;
    }

.login-form {
    width: 340px;
    margin: 50px auto;
}

    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .login-form h2 {
        margin: 0 0 15px;
    }

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.input-group-addon .fa {
    font-size: 18px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.bottom-action {
    font-size: 14px;
}

#footer {
    background-color: #0a1931;
}

#signInText {
    color: #ffc947;
}

#account {
    background-color: #0a1931;
}

#loginBtn {
    background-color: #ffc947;
    color: #0a1931;
}

#rememberMe {
    color: #ffff;   
}

#forgotPass {
    color: #ffc947;
}

#modal-content {
    background-color: #dddddd;
    color: #0a1931;
}

#modal-header {
    background-color: #0a1931;
    color: #ffc947; 
}

#detailsBtn {
    background-color: #007685; 
    color: #f7f3e9;
    
}