﻿@model IEnumerable<VisitViewModel>

<a onclick="showInPopup('@Url.Action("Create","Visit",null,Context.Request.Scheme)','New Visit')" class="btn" style="background-color: #268426; color: #f7f3e9;"><i class="fas fa-plus"></i> New Visit</a>

<hr />

<div class="container">
    <div class="row">
        @foreach (var visit in Model)
        {
        <div class="col-sm-4">
            <div class="card" id="card" style="width: 18rem;">
                <img src="/assets/visit.jpg"  id="img-card" class="card-img-top" alt="...">
                <div class="card-body" id="cardBody">

                    <h5 class="card-title">@visit.VIN</h5>
                    <h5 class="card-title">@visit.ModelMake</h5>

                    <a onclick="showInPopup('@Url.Action("Details","Visit", new {id=visit.VisitID},Context.Request.Scheme)','Visit Details')" class="btn" style="background-color: #00778A; color: #f7f3e9;"><i class="fas fa-info"></i> Details</a>

                    <a onclick="showInPopup('@Url.Action("Update","Visit",new {id=visit.VisitID},Context.Request.Scheme)','Update Visit')" class="btn" style="background-color: #00778A; color: #f7f3e9;"><i class="fas fa-pencil-alt"></i> Update</a>
                    <form asp-action="Delete" asp-controller="Visit" asp-area="Admin" asp-route-id="@visit.VisitID" onsubmit="return jQueryAjaxDelete(this);">
                        <input type="submit" value="Delete" class="btn" style="background-color: #f05945; color: #f7f3e9;" />
                    </form>
                </div>
            </div>
        </div>
        }
    </div>
</div>

