﻿@{ Layout = null; }

@model VisitInputModel

<div class="row">
    <div class="col">
        <form asp-action="Create" onsubmit="return jQueryAjaxPost(this);">
            <div class="row">
                <div class="col">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="PickupDate" class="control-label"></label>
                        <input asp-for="PickupDate" class="form-control" />
                        <span asp-validation-for="PickupDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VisitDate" class="control-label"></label>
                        <input asp-for="VisitDate" class="form-control" />
                        <span asp-validation-for="VisitDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="VehicleID" class="control-label"></label>
                        <select asp-for="VehicleID" class="form-control" asp-items="ViewBag.VehicleID"></select>
                        <span asp-validation-for="VehicleID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VisitStatusID" class="control-label"></label>
                        <select asp-for="VisitStatusID" class="form-control" asp-items="ViewBag.VisitStatusID"></select>
                        <span asp-validation-for="VisitStatusID" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="control-labe">Service</label>
                        <select id="example-getting-started3" multiple="multiple" asp-items="ViewBag.ServiceID" asp-for="ServiceID">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="submit" value="Submit" class="btn" style="background-color: #3E5279; color: #f7f3e9;" />
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#example-getting-started3').multiselect();
    });
</script>
