﻿@model VisitDTO

@{ Layout = null; }


<div class="card-body">
    <img src="/assets/visit.jpg" class="card-img-top" alt="...">
    <h5 class="card-title">Visit date - @Model.VisitDate</h5>
    <h5 class="card-title">Manufacturer - @Model.ModelMake</h5>
    <h5 class="card-title">Vehicle type - @Model.VehicleType</h5>
    <h5 class="card-title">VIN - @Model.VIN</h5>
    <h5 class="card-title">Owner - @Model.Owner</h5>
    <h5 class="card-title">Registration plate - @Model.RegistrationPlate</h5>
    <h5 class="card-title">Services done - @Model.ServicesDone</h5>
    <h5 class="card-title">Price = @Model.Price</h5>
    <h5 class="card-title">Currency - @Model.Currency</h5>
    <h5 class="card-title">Visit date - @Model.VisitDate</h5>
    <h5 class="card-title">Pickup date - @Model.PickUpDate</h5>
    <h5 class="card-title">Visit status - @Model.VisitStatus</h5>
</div>

