﻿@model VisitInputModel

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        
        <form asp-action="Update" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="All" class="text-danger">
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <label class="control-label">Service</label>
                        <select id="selectService" asp-items="ViewBag.ServiceID" asp-for="ServiceID" multiple="multiple" class="form-control" ></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="PickupDate" class="control-label"></label>
                        <input asp-for="PickupDate" class="form-control" />
                        <span asp-validation-for="PickupDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VehicleID" class="control-label"></label>
                        <select asp-for="VehicleID" class="form-control" asp-items="ViewBag.VehicleID"></select>
                        <span asp-validation-for="VehicleID" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <center><input type="submit" value="Submit" class="btn" style="background-color: #3E5279; color: #f7f3e9;" /></center>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#selectService').multiselect();
    });
</script>