﻿@using Microsoft.AspNetCore.Http;
@model IEnumerable<UserDTO>

<table class="table" style="background-color: #3E5279; color: #f7f3e9;">
    <thead style="        background-color: #0a1931;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a onclick="showInPopup('@Url.Action("Update", "Customer", new { Area = "Admin", email = item.Email } ,Context.Request.Scheme)','Edit user')"  class="btn" style="background-color: #00778A; color: #f7f3e9;"><i class="fas fa-pencil-alt"></i> Edit</a>


                <form asp-action="Delete" asp-route-id="@item.UserID" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                    <input type="submit" value="Delete" class="btn" style="background-color: #f05945; color: #f7f3e9;" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
