﻿@model PaginatedListGetModel<UserDTO>

@{ ViewData["Title"] = "Index"; }


<center><h1 style="color: #3E5279;">List of All Users</h1></center>

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model.Elements)
</div>

<br />

@{
    var prevDisabled = !Model.Previous ? "disabled" : "";
    var nextDisabled = !Model.Next ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.CurrentPage - 1)"
   asp-route-pageSize="@(Model.PageSize)"
   asp-route-PriceFrom="@(Model.PriceFrom)"
   asp-route-PriceTo="@(Model.PriceTo)"
   asp-route-PriceIs="@(Model.PriceIs)"
   asp-route-Name="@(Model.Name)"
   asp-route-Currency="@(Model.Currency)"
   asp-route-Price="@(Model.Price)"
   asp-route-SortBy="@(Model.SortBy)"
   asp-route-SortInDescendingOrder="@(Model.SortInDescendingOrder)"
   class="btn  @prevDisabled"style="        background-color: #3E5279;
        color: #f7f3e9;">Previous</a>

<a asp-action="Index"
   asp-route-pageNumber="@(Model.CurrentPage + 1)"
   asp-route-pageSize="@(Model.PageSize)"
   asp-route-PriceFrom="@(Model.PriceFrom)"
   asp-route-PriceTo="@(Model.PriceTo)"
   asp-route-PriceIs="@(Model.PriceIs)"
   asp-route-Name="@(Model.Name)"
   asp-route-Currency="@(Model.Currency)"
   asp-route-Price="@(Model.Price)"
   asp-route-SortBy="@(Model.SortBy)"
   asp-route-SortInDescendingOrder="@(Model.SortInDescendingOrder)"
   class="btn @nextDisabled" style="        background-color: #3E5279;
        color: #f7f3e9;">Next</a>

<hr />

<div>
    <form asp-action="Index" style="color: #3E5279;">
        <div class="row">
            <div class="col">
                <h3>Paging Options</h3>
            </div>
            <div class="col">
                <h3>Filter Options</h3>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <h5><label class="control-label">Page Index</label></h5>
                    <input asp-for="CurrentPage" class="form-control" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <h5><label class="control-label">First Name</label></h5>
                    <input asp-for="FirstName" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Page Size</label>
                    </h5>
                    <input asp-for="PageSize" class="form-control" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Last Name</label>
                    </h5>
                    <input asp-for="LastName" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Sort By</label>
                    </h5>
                    <input asp-for="SortBy" class="form-control" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Email</label>
                    </h5>
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Sort in descending order</h5>
                <div class="form-group">
                    <select asp-for="SortInDescendingOrder" asp-items="ViewBag.Sort" class="form-control"></select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Phone</label>
                    </h5>
                    <input asp-for="Phone" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Vehicle Manufacturer</label>
                    </h5>
                    <input asp-for="VehicleManufacturer" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Vehicle Model</label>
                    </h5>
                    <input asp-for="VehicleModel" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Vehicle Type</label>
                    </h5>
                    <input asp-for="VehicleType" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Visit From Date</label>
                    </h5>
                    <input asp-for="VisitFrom" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Visit To Date</label>
                    </h5>
                    <input asp-for="VisitTo" class="form-control" />
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <input type="submit" value="View" class="btn" style="background-color: #3E5279; color: #f7f3e9;" />
        </div>
    </form>
</div>