﻿@using Microsoft.AspNetCore.Http;
@using CarDoctors.Services.Models.AccountModels

@model UserViewInputModel

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="Update" asp-route-email="@(Context.Session.GetString("Username"))" onsubmit="return jQueryAjaxPost(this);">

            <div class="row">
                <div class="col">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <h5><label class="control-label">First Name</label></h5>
                        <input asp-for="@Model.FirstName" class="form-control" />
                    </div>
                    
                    <div class="form-group">
                        <h5><label class="control-label">Last Name</label></h5>
                        <input asp-for="@Model.LastName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <h5><label class="control-label">Email</label></h5>
                        <input asp-for="@Model.Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <h5><label class="control-label">Phone</label></h5>
                        <input asp-for="@Model.Phone" class="form-control" />
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 offset-md-3">
                            <center><input type="submit" value="Submit" class="btn" style="background-color: #3E5279; color: #f7f3e9;" /></center>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>