﻿@using Microsoft.AspNetCore.Http;

<ul class="navbar-nav">
    @if (Context.Session.GetString("Authorization") != null)
    {
        <li class="nav-item">
            <div class="nav-link btn btn-link ">Hello, @Context.Session.GetString("Username") !</div>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/ChangePassword" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "Customer" })">
                <button id="logout" type="submit" class="nav-link btn btn-link"><i class="fas fa-key"></i> Change Password</button>
            </form>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link"><i class="fas fa-sign-out-alt"></i> Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-sign-in"></i> Login</a>
        </li>
    }
</ul>