﻿@using Microsoft.AspNetCore.Http;

<link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />

@if (Context.Session.GetString("Authorization") != null)
{
    <li class="nav-item">
        <div class="nav-link">Hello, @Context.Session.GetString("Username") !</div>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/ChangePassword" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "Customer" })">
            <i class="fas fa-key"></i> Change Password
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <i class="fas fa-sign-out-alt"></i> Logout
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-sign-in"></i> Login</a>
    </li>
}
