﻿@page
@model CarDoctors.MVC.Areas.Identity.Pages.Account.ChangePasswordModel
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" asp-append-version="true" />

@{ Layout = null; }

@using Microsoft.AspNetCore.Http;


<div class="login-form">
    
    <form id="account" method="post" asp-page="./ChangePassword" asp-route-returnUrl="@Model.ReturnUrl" asp-route-email=@(HttpContext.Session.GetString("Username"))>

        <h2 class="text-center" id="signInText">Change Password</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-user"></span>
                    </span>
                </div>
                <input asp-for="Input.OldPassword" type="password" class="form-control" placeholder="Old Password" required="required">
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-user"></span>
                    </span>
                </div>
                <input asp-for="Input.NewPassword" type="password" class="form-control" placeholder="New Password" required="required">
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-user"></span>
                    </span>
                </div>
                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" required="required">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block" id="loginBtn">Submit</button>
        </div>
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>




