﻿@page
@model CarDoctors.MVC.Areas.Identity.Pages.LoginModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


<div class="login-form">
    <form id="account" method="post" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">
        <h2 class="text-center" id="signInText">Sign In</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-user"></span>
                    </span>
                </div>
                <input asp-for="Input.Email" type="text" class="form-control" placeholder="Email" required="required">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
                <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password" required="required">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block" id="loginBtn">Log in</button>
        </div>
        <div class="bottom-action clearfix">
            <label class="float-left form-check-label" id="rememberMe"><input type="checkbox"> Remember me</label>
            <a asp-area="Identity" asp-page="/Account/ReqestPasswordReset" class="float-right" id="forgotPass">Forgot Password?</a>
        </div>
    </form>
    <p class="text-center small">Don't have an account? <a asp-area="" asp-controller="Home" asp-action="AboutUs">Learn how to register!</a>.</p>
</div>

@section Scripts { @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); } }
