﻿@page
@model CarDoctors.MVC.Areas.Identity.Pages.RegisterModel
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" asp-append-version="true" />
@{ Layout = null; }




<div class="login-form">
    <form id="account" method="post" asp-route-returnUrl="@Model.ReturnUrl">
        <h2 class="text-center" id="signInText">Create new user</h2>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-user"></span>
                    </span>
                </div>
                <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email" required="required">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-user"></span>
                    </span>
                </div>
                <input asp-for="Input.FirstName" type="text" class="form-control" placeholder="First Name" required="required">
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-user"></span>
                    </span>
                </div>
                <input asp-for="Input.LastName" type="text" class="form-control" placeholder="Last Name" required="required" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-phone"></i>
                    </span>
                </div>
                <input asp-for="Input.PhoneNumber" type="tel" class="form-control" placeholder="Phone Number" required="required">
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block" id="loginBtn">Create</button>
        </div>
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


