﻿@page "ReqestPasswordReset"
@model CarDoctors.MVC.Areas.Identity.Pages.Account.ReqestPasswordResetModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

    <div class="login-form">
        <form id="account" method="post" asp-page="./ReqestPasswordReset" asp-route-returnUrl="@Model.ReturnUrl">
            <h2 class="text-center" id="signInText" >Reset Password</h2>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="fa fa-user"></span>
                        </span>
                    </div>
                    <input asp-for="Input.Email" type="text" class="form-control" placeholder="Email" required="required">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block" id="loginBtn">Submit</button>
            </div>
        </form>
    </div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
