﻿@page "/ResetPass/{guid}/{email}"
@model CarDoctors.MVC.Areas.Identity.Pages.Account.ResetPassRequest
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


    <div class="login-form">
        
        <form id="account" method="post" asp-page="./ResetPass" asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h2 class="text-center" id="signInText">Reset Password</h2>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="fa fa-user"></span>
                        </span>
                    </div>
                    <input asp-for="Input.Password" type="password" class="form-control" placeholder="New Password" required="required">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="fa fa-user"></span>
                        </span>
                    </div>
                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" required="required">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block" id="loginBtn">Submit</button>
            </div>
        </form>
    </div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
