﻿@model IEnumerable<ServiceViewModel>

<a onclick="showInPopup('@Url.Action("Create","Service",new { Area = "Admin"},Context.Request.Scheme)','New Service')" class="btn" style="background-color: #268426; color: #f7f3e9;"><i class="fas fa-plus"></i> New Service</a>

<hr />  

<div class="container">
    <div class="row">
        @foreach (var service in Model)
        {
            <div class="col-sm-4">
                <div class="card" id="card" style="width: 18rem;">
                    <img src="/assets/fix.png" id="img-card" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                        <h5 class="card-title">@service.ServiceName</h5>
                        <h5 class="card-title">@service.Price</h5>
                        <h5 class="card-title">@service.Currency</h5>


                        <a onclick="showInPopup('@Url.Action("Update","Service", new { Area = "Admin", id=service.ServiceID},Context.Request.Scheme)','Update Service')" class="btn" style="background-color: #00778A; color: #f7f3e9;"><i class="fas fa-info"></i> Update</a>

                        <br />
                        <br />

                        <form asp-action="Delete" asp-route-name="@service.ServiceName" onsubmit="return jQueryAjaxDelete(this);">
                            <input type="submit" value="Delete" class="btn" style="background-color: #f05945; color: #f7f3e9;" />
                        </form>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
