﻿@model PaginatedListGetModel<ServiceViewModel>

<center><h1 id="header">List of Services</h1></center>

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model.Elements)
</div>

<br>

@{
    var prevDisabled = !Model.Previous ? "disabled" : "";
    var nextDisabled = !Model.Next ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.CurrentPage - 1)"
   asp-route-pageSize="@(Model.PageSize)"
   asp-route-VehicleType="@(Model.VehicleType)"
   asp-route-VisitTo="@(Model.VisitTo)"
   asp-route-VisitFrom="@(Model.VisitFrom)"
   asp-route-VehicleModel="@(Model.VehicleModel)"
   asp-route-VehicleManufacturer="@(Model.VehicleManufacturer)"
   asp-route-Phone="@(Model.Phone)"
   asp-route-Email="@(Model.Email)"
   asp-route-SortBy="@(Model.SortBy)"
   asp-route-SortInDescendingOrder="@(Model.SortInDescendingOrder)"
   class="btn  @prevDisabled" id="buttonsPage">Previous</a>

<a asp-action="Index"
   asp-route-pageNumber="@(Model.CurrentPage + 1)"
     asp-route-pageSize="@(Model.PageSize)"
   asp-route-VehicleType="@(Model.VehicleType)"
   asp-route-VisitTo="@(Model.VisitTo)"
   asp-route-VisitFrom="@(Model.VisitFrom)"
   asp-route-VehicleModel="@(Model.VehicleModel)"
   asp-route-VehicleManufacturer="@(Model.VehicleManufacturer)"
   asp-route-Phone="@(Model.Phone)"
   asp-route-Email="@(Model.Email)"
   asp-route-SortBy="@(Model.SortBy)"
   asp-route-SortInDescendingOrder="@(Model.SortInDescendingOrder)"
   class="btn @nextDisabled" id="buttonsPage">Next</a>  

<hr />

<div>
    <div asp-validation-summary="All" class="text text-danger"></div>
    <form asp-action="Index" id="paging">
        <div class="row">
            <div class="col">
                <h3>Paging Options</h3>
            </div>
            <div class="col">
                <h3>Filter Options</h3>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <h5><label class="control-label">Page Index</label></h5>
                    <input asp-for="CurrentPage" class="form-control" />
                    <span asp-validation-for="CurrentPage" class="text text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <h5><label class="control-label">Service Name</label></h5>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Page Size</label>
                    </h5>
                    <input asp-for="PageSize" class="form-control" />
                    <span asp-validation-for="PageSize" class="text text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Service Price Is:</label>
                    </h5>
                    <input asp-for="PriceIs" class="form-control" />
                    <span asp-validation-for="PriceIs" class="text text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Sort By</label>
                    </h5>
                    <input asp-for="SortBy" class="form-control" />
                    <span asp-validation-for="SortBy" class="text text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Service Price From:</label>
                    </h5>
                    <input asp-for="PriceFrom" class="form-control" />
                    <span asp-validation-for="PriceFrom" class="text text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Sort in descending order</h5>
                <div class="form-group">
                    <select asp-for="SortInDescendingOrder" asp-items="ViewBag.Sort" class="form-control"></select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Price To:</label>
                    </h5>
                    <input asp-for="PriceTo" class="form-control" />
                    <span asp-validation-for="PriceTo" class="text text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">

            </div>

            <div class="col">
                <div class="form-group">
                    <h5>
                        <label class="control-label">Currency</label>
                    </h5>
                    <input asp-for="Currency" class="form-control" />
                    <span asp-validation-for="Currency" class="text text-danger"></span>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="submit" value="View" class="btn" id="buttonsPage" />
                </div>
            </div>
        </div>
    </form>

</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

