﻿@model ServiceInputModel

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="Update" onsubmit="return jQueryAjaxPost(this);">
            <div class="row">
                <div class="col">
                    <a asp-route-name="@Model.Name"></a>
                    <div class="form-group">
                        <h5><label class="control-label">Service Name</label></h5>
                        <input asp-for="@Model.Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <h5><label class="control-label">Service Price</label></h5>
                        <input asp-for="@Model.Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <h5><label class="control-label">Currency</label></h5>
                        <input asp-for="@Model.Currency" class="form-control" />
                        <span asp-validation-for="Currency" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 offset-md-3">
                            <input type="submit" value="Submit" class="btn" style="background-color: #3E5279; color: #f7f3e9;"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
