﻿@model IEnumerable<VisitViewModel>

@using Microsoft.AspNetCore.Http;

<hr />
<div class="container">
    <div class="row">

        @foreach (var visit in Model)
        {
            <div class="col-sm-4">
                <div class="card" id="card" style="width: 18rem;">
                    <img src="/assets/visit.jpg" class="card-img-top" id="img-card" alt="...">
                    <div class="card-body" id="cardBody">

                        <h5 class="card-title">@visit.VIN</h5>
                        <h5 class="card-title">@visit.ModelMake</h5>
                        <a onclick="showInPopup('@Url.Action("Details","Visit", new {id=visit.VisitID},Context.Request.Scheme)','Visit Details')" class="btn" id="detailsBtn"><i class="fas fa-info"></i> Details</a>
                    </div>
                </div>
            </div>
        }


    </div>
</div>

<hr />

<a onclick="showInPopup('@Url.Action("GeneratePDF","Visit", new { email = @Context.Session.GetString("Username") },Context.Request.Scheme)','GeneratePDF')" class="btn" id="buttonsPage"><i class="fas fa-info"></i> Generate PDF</a>

