﻿@{ Layout = null; }

@using Microsoft.AspNetCore.Http;

<div class="row">
    <div class="col-md-12">
        <form asp-action="GeneratePDF" asp-route-Email="@(Context.Session.GetString("Username"))" onsubmit="return jQueryAjaxPost(this);">
            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <h5>
                            <label class="control-label">Visists to include in the PDF:</label>
                        </h5>
                        <select id="example-getting-started1" multiple="multiple" asp-items="ViewBag.VisitID" name="visitIds">
                        </select>
                    </div>
                    <div class="form-group">
                        <h5><label class="control-label">Currency</label></h5>
                        <input name="currency" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example-getting-started1').multiselect();
    });
</script>

